{{!-- Шаблон картки --}}
{{#each this}}
  <li class="gallery__item">
    <div class="gallery__card">
      {{#if poster_path}}
      <img class="gallery__image" src="https://image.tmdb.org/t/p/w300/{{poster_path}}" alt="{{original_title}}">
    </div>
  </li>
{{/each}}