<footer class="footer">
  <div class="footer__container">
    <p class="footer__text-copyright">
      &#169; 2024 &#10072; All Rights Reserved &#10072;
    </p>

    <div class="footer__box-developed">
      <p class="footer__text-developed">
        Developed by
        <span>
          <div class="fun">
            <span class="fun-spinner">
              <div class="fun-loader">
                <div class="fun-inner one"></div>
                <div class="fun-inner two"></div>
                <div class="fun-inner three"></div>
                <div class="fun-inner four"></div>
              </div>
            </span>
          </div>
        </span>
        <a class="footer__link" id="footer__link" href="https://www.instagram.com/karmazinovhoncharenko/">AlexKarmHon</a>
      </p>
    </div>
  </div>
</footer>
