<header class="header header-home">
  <div class="header__container">
    <div class="container">
      <div class="nav-bar-wrapper">
        <img class="icon-film" src="./images/film-icon.png" alt="film frame">
        <!-- <h1 class="logo-img visually-hidden">Cinemateka</h1> -->
        <a class="logo link" href="#">HomeCinemaTeka</a>
        <nav class="navbar">
          <button class="theme-btn" id="theme-btn" aria-label="Theme switch button">
            <svg class="theme-switch__icon" id="sun" role="img" aria-label="Sun icon">
              <use href="./images/sprite.svg#icon-sun"></use>
            </svg>
            <svg class="theme-switch__icon" id="moon" role="img" aria-label="Moon icon" hidden>
              <use href="./images/sprite.svg#icon-moon"></use>
            </svg>
          </button>
          <button class="sign-out-btn visually-hidden" id="sign-out-btn" aria-label="Sign out button" type="button">
            <svg class="exit-icon">
              <use href="./images/sprite.svg#icon-exit"></use>
            </svg>
            Sign out
          </button>
          <ul class="nav-list list">
            <li class="nav-list__item">
              <button class="nav-btn current" id="home-btn" type="button">Home</button>
            </li>
            <li class="nav-list__item">
              <button class="nav-btn" id="my-lib-btn" type="button">My library</button>
            </li>
          </ul>
        </nav>
      </div>
      <div class="form-wrapper">
        <form class="search-form" id="search-form">
          <input
            class="search-input"
            type="text"
            name="query"
            autocomplete="off"
            placeholder="Search films"
          />
          <button class="search-btn" type="submit"></button>
        </form>
      </div>
      <div class="library-btns-container visually-hidden" id="h-lib-btns">
        <ul class="library-btns-list list">
          <li class="library-btns-list__item">
            <button class="library-btn" id="btn-watched" type="submit" data-type="watched">Watched</button>
          </li>
          <li class="library-btns-list__item">
            <button class="library-btn" id="btn-queue" type="submit" data-type="queued">Queue</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>