.basicLightbox {
  overflow-y: scroll;
  padding: 10px;

  &__placeholder {
       height: 100%;
      @media screen and (min-width: 768px) {
        height:90%;
      }
  }
}

.movie-modal {
  position: relative;
  height: max-content;

  overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
  background-color: #ffffff;
  color: var(--secondary-color);

  &__wrapper {
    position: relative;
    max-width: 280px;
    padding: 48px 20px 41px;
    border-radius: 5px;
    background-color: var(--primary-color);
    
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      max-width: 618px;
      padding: 40px 30px;
    }

    @media screen and (min-width: 1024px) {
      max-width: 882px;
    }
  }
}

.movie-modal__btn-close{
  position: absolute;
  top: 18px;
  right: 18px;
  width: 14px;
  height: 14px;
  border: none;
  background-color: transparent;
  background-image: url('../images/close.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  transition: transform 300ms ease;

  &:hover {
    transform: rotate(90deg);
  }
}

.movie-modal__img-wrapper{
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(50% - 15px);
    margin-bottom: 0px;
  }
}

.movie-modal__img {
  width: 240px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 520px;
  }
}

.movie-modal__info {
  flex-basis: calc(50% - 15px);
}

.movie-modal__title {
  @include font(500, 20px, 24px, 0em);
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 35px;
  }
}

.movie-modal__characteristic{
  display: flex;
  margin-bottom: 10px;
}

.movie-modal__characteristic-label{
  width: 50%;
  @include font(500, 12px, 16px, 0em);
  color: var(--modal-text-color);
}

.movie-modal__characteristic-value{
  width: 50%;
  @include font(500, 12px, 16px, 0em);
}

.movie-modal__characteristic-value-title{
  width: 50%;
  @include font(500, 12px, 16px, 0em);
  text-transform: uppercase;
}

.movie-modal__vote-average{
  @include font(500, 12px, 16px, 0em);
  display: inline-block;
  width: max-content;
  padding:1px 10px;
  border-radius: 6px;
  background-color: var(--accent-color);
}

.movie-modal__characteristic-genres{
  @include flex-center; 
  @include font(500, 12px, 16px, 0em);
}

.mod-cutter{
  margin-left: 1px;
  margin-right: 5px;
  color: var(--secondary-color);
}

.movie-modal__characteristic-genre:last-child{
  .mod-cutter{
    display: none;
  }
}

.movie-modal__desc{
  margin-bottom: 20px;
}

.movie-modal__desc-label{
  @include font(500, 12px, 16px, 0em);
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.movie-modal__desc-text{
  @include font(500, 12px, 20px, 0.03em);
  color: var(--secondary-color);
}


.movie-modal__buttons{
  display: flex;
}

.movie-modal__btn{
  @include flex-center;
  @include font(500, 12px, 16px, 0.03em);

  max-width: 136px;
  min-height: 44px;
  flex-basis: calc(50% - 7.5px);
  padding: 8px;

  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: transparent;  

  text-transform: uppercase;
  color: var(--secondary-color);
  transition: color 250ms linear, background-color 250ms linear;

  &--active {
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);

    color: var(--primary-color);
  }

  &:focus {
    outline: 0px;
  }

  &:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: unset;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }
}