.basicLightbox {
  overflow-y: scroll;
  padding: 20px;

  &__placeholder {
       height: 100%;
      @media screen and (min-width: 768px) {
        height:unset;
      }
  }
}

.movie-modal {
  position: relative;
  height: max-content;
  width: 280px;
  padding: 48px 20px 40px 20px;

  overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
  background-color: #ffffff;
  color: var(--secondary-color);
}

.movie-modal__btn-close{
  position: absolute;
  top: 18px;
  right: 18px;
  width: 14px;
  height: 14px;
  border: none;
  background-color: transparent;
  background-image: url('../images/close.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  transition: transform 300ms ease;

  &:hover {
    transform: rotate(90deg);
  }
}

.movie-modal__img-wrapper{
  margin-bottom: 30px;
}

.movie-modal__title {
  @include font(500, 20px, 24px, 0em);
  text-transform: uppercase;
  margin-bottom: 20px;
}

// .movie-modal__characteristics{

// }

.movie-modal__characteristic{
  display: flex;
  margin-bottom: 10px;
}

.movie-modal__characteristic-label{
  width: 50%;
  @include font(500, 12px, 16px, 0em);
  color: var(--modal-text-color);
}

.movie-modal__characteristic-value{
  width: 50%;
  @include font(500, 12px, 16px, 0em);
}

.movie-modal__characteristic-value-title{
  width: 50%;
  @include font(500, 12px, 16px, 0em);
  text-transform: uppercase;
}

.movie-modal__vote-average{
  @include font(500, 12px, 16px, 0em);
  display: inline-block;
  width: max-content;
  padding:1px 10px;
  border-radius: 6px;
  background-color: var(--accent-color);
}

.movie-modal__characteristic-genres{
  @include flex-center; 
  @include font(500, 12px, 16px, 0em);
}

.mod-cutter{
  margin-left: 1px;
  margin-right: 5px;
  color: var(--secondary-color);
}

.movie-modal__characteristic-genre:last-child{
  .mod-cutter{
    display: none;
  }
}

.movie-modal__desc-label{
  @include font(500, 12px, 16px, 0em);
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.movie-modal__desc-text{
  @include font(500, 12px, 20px, 0.03em);
  color: var(--secondary-color);
}

.movie-modal__buttons{
  
}