.theme-btn {
  @include flex-center;
  position: absolute;
  top: -30px;
  right: 20px;

  display: block;
  height: 22px;
  padding: 0;

  border: none;
  outline: none;
  background-color: inherit;
  fill: rgb(253, 222, 84);
}
.theme-switch__icon{
  display: block;
  width: 18px;
  height: 18px;
}

.theme-switch__icon.moon,
.theme-switch__icon {
  position: absolute;
}