body.light-theme {
  color: var(--secondary-color);
  transition: all 350ms;
}

body.dark-theme {
  // background-color: #353e56;
  background: rgba(0, 0, 0, 0.9);
  color: var(--primary-color);
  transition: all 350ms;
}