.trailer-modal {
  position: relative;
  height: max-content;
  width: 280px;
  padding: 48px 20px 40px 20px;
  margin-top: 20vh;

  overflow: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
  background-color: #ffffff;
  color: var(--secondary-color);
}

.movie-modal__trailer {
  width: 100%;
}